* {
    /* font-family: 'Inter Tight', sans-serif; */
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
}
.flex-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column; /* Keep items in a vertical stack */
    align-items: center; /* Center items horizontally */
    padding: 20px;
    
}

/* .container > .flex-wrap{
    margin-right: 2px;
} */

h1{
    font-weight: bolder;
}

.entry {
    max-width: 800px; /* Limit entry width for readability */
    width: 100%; /* Take full width */
    /* Add more styling as needed */
}

a {
    color: blue;
}
img {
    width: 240px; /* or a specific width */
    height: 200px; /* or a specific height */
    max-width: 100%; /* ensures image is responsive and does not exceed its container's width */
}